cachetools==5.5.0
certifi==2024.7.4
charset-normalizer==3.3.2
google-api-core==2.19.2
google-auth==2.34.0
google-cloud==0.34.0
google-cloud-core==2.4.1
google-cloud-texttospeech==2.17.2
google-cloud-translate==3.16.0
googleapis-common-protos==1.65.0
grpc-google-iam-v1==0.13.1
grpcio==1.66.0
grpcio-status==1.66.0
idna==3.8
proto-plus==1.24.0
protobuf==5.27.4
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
requests==2.32.3
rsa==4.9
SpeechRecognition==3.10.4
typing_extensions==4.12.2
urllib3==2.2.2
Wave==0.0.2
