version: '3.8'

services:
  api:
    build: .
    container_name: fastapi_app
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    restart: "no"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
  redis:
    image: redis:6
    container_name: redis
    ports:
      - "6379:6379"